body {
/*	background-image: url("http://i.imgur.com/U10hT.jpg");
*/	background: url("red_picnic_blanket.jpg") no-repeat center center fixed; 
	/*background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100%;*/
	margin-top: -10px;
/*	background-position: center center;
*/	/*background-size: cover;*/
}

.contact {
	background-image: url("colonial_men_picnic.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

header nav {
	background: #000;
	margin: -15px -10px;
	padding: 20px;
}

h1{
	text-align: center;
}
h1 a {
	font-family: rockwell;
	color: white;
	font-size: 100px;
	text-decoration: none;
}
h1 a:link {
	text-decoration: none;
	color: #FF0000;
}
h1 a:hover {
 	color: #A00;
 }
h1 a:visited {
	color: white;
}

p {
	font-family: futura;
	color: white;
	font-size: 30px;
	text-align: justify;
	font-weight: normal;
	padding: 0 10px;
	background: rgba(20,20,20,0.5);
}

nav a:link {
	font-family: rockwell;
	font-weight: normal;
	font-size: 30px;
	margin-right: 10px;
	padding-left: 10px;
	color: #EEE;
	text-decoration: none;
}
nav a:hover {
 	color: #3300CC;
} 
nav a:visited {
	color: #AAA;
}

.contact .contact {
	color: #3300CC;
	background: #000;
}

li {
	list-style: none;
}