body {
/*	background-image: url("http://i.imgur.com/U10hT.jpg");
*/	background-image: url("http://40.media.tumblr.com/tumblr_lmhg68flQ41qcg3zwo1_1280.jpg"); 
	/*no-repeat center center fixed;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	margin-top: -10px;
	background-position: center center;
	background-size: cover;
}

.about {
	background-image: url("http://i.imgur.com/U10hT.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: center center;
	background-size: cover;
}
.contact {
	background-image: url("http://images4.fanpop.com/image/photos/23800000/picnic-fashion-photography-23847030-1280-800.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: center center;
	background-size: cover;
}

header nav {
	background: #000;
	margin: -15px -10px;
	padding: 20px;
}

h1{
	text-align: center;
}
h1 a {
	font-family: rockwell;
	color: white;
	font-size: 100px;
	text-decoration: none;
}
h1 a:link {
	text-decoration: none;
	color: #FF0000;
}
.home h1 a:hover {
 	color: #A00;
 }
 .about h1 a:hover {
 	color: #A00;
 }
 .contact h1 a:hover {
 	color: #A00;
 }
h1 a:visited {
	color: white;
}

p {
	font-family: Trebuchet MS;
	color: white;
	font-size: 22px;
	text-align: justify;
	font-weight: 100;
	padding: 20px 40px 10px 40px;
	margin: 0px 5px;
	background: rgba(20,20,20,0.75);
}

nav a:link {
	font-family: rockwell;
	font-weight: normal;
	font-size: 30px;
	margin-right: 10px;
	padding-left: 10px;
	color: #EEE;
	text-decoration: none;
}
.home nav a:hover {
 	color: #3300CC;
}
.about nav a:hover {
 	color: #3300CC;
} 
.contact nav a:hover {
 	color: #3300CC;
} 
nav a:visited {
	color: #AAA;
}

.about .about {
	color: #3300CC;
	background: #000;
}
.about .contact {
	background: #000;
}
.contact .contact {
	color: #3300CC;
	background: #000;
}
.contact .about {
	background: #000;
}

li {
	list-style: none;
	font-family: Trebuchet MS;
	font-size: 22px;
	color: white;
	padding: 5px 40px 5px 80px;
	margin: 0px 5px 0px -35px;
	background: rgba(20,20,20,0.75)
}

img {
	max-width: 50%;
	height:auto;
	padding: 100px 100px 100px 50px;
}